# 1). Create a tuple called data with two values, (1, 2) and (3, 4)

In [1]:
data = ((1,2),(3,4) )
print(data)
type(data)

((1, 2), (3, 4))

tuple

In [2]:
 2). Create the list [4, 3, 2, 1] and assign it to variable numbers.

# 2). Create the list [4, 3, 2, 1] and assign it to variable numbers.

In [3]:
numbers=[4,3,2,1]
print(numbers)
type(numbers)

[4, 3, 2, 1]

list

# 3). Create a copy of the number list using [:]

In [4]:
numbers_copy=numbers[:]
numbers_copy

[4, 3, 2, 1]

# 4). Sort the numbers list in numerical order

In [5]:
numbers.sort()
numbers

[1, 2, 3, 4]

# 5). Create a tuple "cardinal_numbers" with "first", "second" and "third"

In [7]:
cardinal_numbers=('first','second','third')
cardinal_numbers

('first', 'second', 'third')

# 6) Display the second object in the above tuple

In [9]:

cardinal_numbers[1]

'second'

# 7). Unpack the tuple into three strings and display them

In [10]:
position1,position2,position3=cardinal_numbers
print(position1)
print(position2)
print(position3)

first
second
third

# 8). Create a tuple containing the letters of your name from a string

In [12]:
my_name=tuple("Pravin")
my_name

('P', 'r', 'a', 'v', 'i', 'n')

# 9). Check whether or not x is in my_name

In [13]:
print("x" in my_name)

False

# 10). Check whether or not s is in my_name

In [14]:
print("s" in my_name)

False

In [15]:
print("s" not in my_name)

True